[submodule "3rdParty/QREncoder"]
	path = 3rdParty/QREncoder
	url = git@github.com:hoccer/QR-Code-Encoder-for-Objective-C.git
[submodule "3rdParty/TDSemiModal"]
	path = 3rdParty/TDSemiModal
	url = git@github.com:hoccer/TDSemiModal.git
[submodule "3rdParty/UIAlertViewExtentsions"]
	path = 3rdParty/UIAlertViewExtentsions
	url = git@github.com:wannabegeek/UIAlertViewExtentsions.git
[submodule "3rdParty/SocketRocket"]
	path = 3rdParty/SocketRocket
	url = git@github.com:hoccer/SocketRocket.git
[submodule "3rdParty/GCNetworkRequest"]
	path = 3rdParty/GCNetworkRequest
	url = git@github.com:hoccer/GCNetworkRequest.git
[submodule "3rdParty/InAppSettingsKit"]
	path = 3rdParty/InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
[submodule "3rdParty/ZipArchive"]
	path = 3rdParty/ZipArchive
	url = git@github.com:mattconnolly/ZipArchive.git
[submodule "3rdParty/CocoaHTTPServer"]
	path = 3rdParty/CocoaHTTPServer
	url = git@github.com:robbiehanson/CocoaHTTPServer.git
[submodule "3rdParty/openssl-xcode"]
	path = 3rdParty/openssl-xcode
	url = git@github.com:hoccer/openssl-xcode.git
[submodule "3rdParty/CTAssetsPickerController"]
	path = 3rdParty/CTAssetsPickerController
	url = git@github.com:hoccer/CTAssetsPickerController.git
