<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../../HoccerTalk.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array/>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Localizations/Localizable/1/Localizable.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-04-06T18:54:45Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>e39e7023217c0e8ce7abefd45833b4be
</string>
					<key>name</key>
					<string>Localizable.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Navigation Menu Item</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>About</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Über Hoccer Talk</string>
								<key>en</key>
								<string>About</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Attachment Actionsheet Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Add Attachement</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Anhang hinzufügen</string>
								<key>en</key>
								<string>Add Attachement</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Actionsheet Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Attachment</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Anhang</string>
								<key>en</key>
								<string>Attachment</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Cancel</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Abbrechen</string>
								<key>en</key>
								<string>Cancel</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Navigation Menu Item</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Chats</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Chats</string>
								<key>en</key>
								<string>Chats</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Action Sheet Button Ttitle</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Choose Photo/Video</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Foto/Video wählen</string>
								<key>en</key>
								<string>Choose Photo/Video</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Contacts Navigation Bar Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Contacts</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Kontakte</string>
								<key>en</key>
								<string>Contacts</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Code Copy/Paste Button</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Copy</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Kopieren</string>
								<key>en</key>
								<string>Copy</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Mail Invitation Body</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>invitation_mail_body</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Hallo,
lass uns mit Hoccer Talk chatten.

Hol Dir Hoccer Talk:
App Store: %@
Android: %@

Danch bestätige meinen Kontakt: %@
</string>
								<key>en</key>
								<string>Hi
let's chat using Hoccer Talk.

Get Hoccer Talk:
App Store: %@
Android: %@

Then confirm my contact by clicking this link:
%@
</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Mail Invitation Subject</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>invitation_mail_subject</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einladung zu Hoccer Talk</string>
								<key>en</key>
								<string>Hoccer Talk Invitation</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>SMS Invitation Body</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>invitation_sms_text</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Chatte mit mir! Lade Dir Hoccer Talk im App Store. Danach klick diesen Link: %@</string>
								<key>en</key>
								<string>Let's join Hoccer Talk! Get Hoccer Talk on your App Store, then click this link: %@
</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Actionsheet Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invite by</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einladung</string>
								<key>en</key>
								<string>Invite by</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invite Code</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>per Einladungs Kode</string>
								<key>en</key>
								<string>Invite Code</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Alert Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invite failed</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einladung fehlgeschlagen</string>
								<key>en</key>
								<string>Invite failed</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Alert Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invite successful</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einladung erfolgreich</string>
								<key>en</key>
								<string>Invite successful</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Mail</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>per Mail</string>
								<key>en</key>
								<string>Mail</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Token View Controller</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>or</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>oder</string>
								<key>en</key>
								<string>or</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Code Copy/Paste Button</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Paste</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einfügen</string>
								<key>en</key>
								<string>Paste</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Navigation Menu Item</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Profile</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Profil</string>
								<key>en</key>
								<string>Profile</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Remove Attachment</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Anhang entfernen</string>
								<key>en</key>
								<string>Remove Attachment</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Contact List Search Placeholder</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>search</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>suchen</string>
								<key>en</key>
								<string>search</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Chat Send Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Send</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Senden</string>
								<key>en</key>
								<string>Send</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Token View Controller</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Send this token to a friend:</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Sende diesen Kode an einen Freund:</string>
								<key>en</key>
								<string>Send this token to a friend:</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Navigation Menu Item</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Settings</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Einstellungen</string>
								<key>en</key>
								<string>Settings</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>SMS</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>per SMS</string>
								<key>en</key>
								<string>SMS</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Action Sheet Button Ttitle</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Take Photo/Video</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Foto/Video aufnehmen</string>
								<key>en</key>
								<string>Take Photo/Video</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Alert Message</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>The server accepted your code</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Der Server hat den Kode akzeptiert</string>
								<key>en</key>
								<string>The server accepted your code</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Invite Alert Message</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>The server rejected your invite code</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Der Server hat den Kode abgelehnt</string>
								<key>en</key>
								<string>The server rejected your invite code</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Navigation Menu Item</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Tutorial</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Anleitung</string>
								<key>en</key>
								<string>Tutorial</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Actionsheet Button Title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>View Attachment</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Anhang anzeigen</string>
								<key>en</key>
								<string>View Attachment</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>APN new messages</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>apn_new_messages</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Du hast %@ neue Nachrichten!</string>
								<key>en</key>
								<string>You have %@ new messages!</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>APN one new message</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>apn_one_new_message</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Du hast eine neue Nachricht!</string>
								<key>en</key>
								<string>You have a new message!</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>old objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Localizations/InfoPlist/1/InfoPlist.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-02-12T10:12:18Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>b8f0b99a609bda18c49eed43bb052224
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array/>
					<key>old objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Localizations</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>preferences</key>
	<dict>
		<key>XcodeAddMissingFiles</key>
		<true/>
		<key>XcodeFileLimit</key>
		<real>75</real>
		<key>XcodeHasFileLimit</key>
		<true/>
		<key>XcodeHasLanguageLimit</key>
		<true/>
		<key>XcodeLanguageLimit</key>
		<real>90</real>
		<key>XcodeRemoveNotMatchingFiles</key>
		<false/>
		<key>autotranslateNewStrings</key>
		<true/>
		<key>compressLocalizationFiles</key>
		<false/>
		<key>deactivateEmptyStrings</key>
		<true/>
		<key>deactivatePlaceholderStrings</key>
		<true/>
		<key>defaultBundleNaming</key>
		<integer>1</integer>
		<key>defaultBundleReferencing</key>
		<integer>1</integer>
		<key>embedDictionary</key>
		<false/>
		<key>embedDictionaryGuesses</key>
		<false/>
		<key>importEmptyStrings</key>
		<true/>
		<key>includeInterfacePreview</key>
		<true/>
		<key>markAutotranslatedAsNotChanged</key>
		<true/>
		<key>rescanXcodeProjects</key>
		<false/>
		<key>saveCompressed</key>
		<false/>
		<key>updateXcodeProjects</key>
		<false/>
		<key>valueChangesResetStrings</key>
		<false/>
	</dict>
	<key>reference language</key>
	<string>en</string>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
