<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_validEnvironments</key>
	<array>
		<string>production</string>
		<string>development</string>
		<string>stroeer</string>
		<string>simsme</string>
	</array>
	<key>certificateFiles</key>
	<dict>
		<key>development</key>
		<array>
			<string>talkserver.talk.hoccer.de</string>
			<string>filecache.talk.hoccer.de</string>
			<string>server_production</string>
		</array>
		<key>production</key>
		<array>
			<string>talkserver.talk.hoccer.de</string>
			<string>filecache.talk.hoccer.de</string>
			<string>server_production</string>
		</array>
		<key>stroeer</key>
		<array>
			<string>talkserver.talk.hoccer.de</string>
			<string>filecache.talk.hoccer.de</string>
			<string>server_production</string>
		</array>
		<key>simsme</key>
		<array>
			<string>talkserver.talk.hoccer.de</string>
			<string>filecache.talk.hoccer.de</string>
			<string>server_production</string>
		</array>
	</dict>
	<key>talkServer</key>
	<dict>
		<key>development</key>
		<string>wss://test1.talk.hoccer.de</string>
		<key>production</key>
		<string>wss://talkserver.talk.hoccer.de</string>
		<key>stroeer</key>
		<string>wss://talkserver.talk.hoccer.de</string>
		<key>simsme</key>
		<string>wss://talkserver.talk.hoccer.de</string>
	</dict>
	<key>inviteServer</key>
	<dict>
		<key>development</key>
		<string>https://invite-test1.hoccer.com</string>
		<key>production</key>
		<string>https://invite.hoccer.com</string>
		<key>stroeer</key>
		<string>https://stroeer.hoccer.com</string>
		<key>simsme</key>
		<string>https://simsme.hoccer.com</string>
	</dict>
</dict>
</plist>
