<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_validEnvironments</key>
	<array>
		<string>production</string>
		<string>development</string>
	</array>
	<key>certificateFiles</key>
	<dict>
		<key>development</key>
		<array>
			<string>server_development</string>
		</array>
		<key>production</key>
		<array/>
	</dict>
	<key>talkServer</key>
	<dict>
		<key>development</key>
		<string>ws://development.hoccer.com:7001</string>
		<key>production</key>
		<string>ws://development.hoccer.com:7000</string>
	</dict>
	<key>fileCacheURI</key>
	<dict>
		<key>development</key>
		<string>https://filecache-development.hoccer.com/test/</string>
		<key>production</key>
		<string>https://filecache-development.hoccer.com/v3/</string>
	</dict>
</dict>
</plist>
