<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>httpServerPassword</key>
	<string>xopassword</string>
	<key>manualKeyManagement</key>
	<false/>
	<key>signMessages</key>
	<false/>
	<key>rsaKeySize</key>
	<integer>2048</integer>
	<key>autoSaveMedia</key>
	<false/>
	<key>playAlertSounds</key>
	<true/>
	<key>playEffectSounds</key>
	<true/>
	<key>previewImageWidth</key>
	<integer>240</integer>
	<key>maxAttachmentUploadRetries</key>
	<integer>16</integer>
	<key>maxAttachmentDownloadRetries</key>
	<integer>16</integer>
	<key>saveDatabasePolicy</key>
	<string>delayed</string>
	<key>environment</key>
	<string>production</string>
	<key>autoUploadLimitCellular</key>
	<integer>0</integer>
	<key>autoDownloadLimitCellular</key>
	<integer>0</integer>
	<key>messageFontSize</key>
	<integer>13</integer>
	<key>autoUploadLimitWLAN</key>
	<integer>0</integer>
	<key>autoDownloadLimitWLAN</key>
	<integer>0</integer>
	<key>videoQuality</key>
	<integer>2</integer>
	<key>photoSize</key>
	<integer>250</integer>
	<key>photoCompressionQuality</key>
	<integer>0</integer>
	<key>supportTag</key>
	<string></string>
	<key>reportCrashes</key>
	<false/>
</dict>
</plist>
