<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playAlertSounds</key>
	<true/>
	<key>playEffectSounds</key>
	<true/>
	<key>previewImageWidth</key>
	<integer>240</integer>
	<key>maxAttachmentUploadRetries</key>
	<integer>16</integer>
	<key>maxAttachmentDownloadRetries</key>
	<integer>16</integer>
	<key>saveDatabasePolicy</key>
	<string>perMessage</string>
	<key>environment</key>
	<string>production</string>
	<key>autoUploadLimit</key>
	<integer>1000000000</integer>
	<key>autoDownloadLimit</key>
	<integer>1000000000</integer>
</dict>
</plist>
