<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorldwideAutoDownload</key>
	<false/>
	<key>WorldwideTimeToLive</key>
	<integer>0</integer>
	<key>WorldwideNotifications</key>
	<false/>
	<key>WorldwideGroupTag</key>
	<string>*</string>
	<key>anonymousNotifications</key>
	<true/>
	<key>AccessControlPhotoEnabled</key>
	<false/>
	<key>confirmSeenMessages</key>
	<true/>
	<key>forceFilecacheURL</key>
	<string></string>
	<key>updateLocations</key>
	<false/>
	<key>httpServerPassword</key>
	<string>hoccer-pw</string>
	<key>manualKeyManagement</key>
	<false/>
	<key>signMessages</key>
	<false/>
	<key>autoSaveMedia</key>
	<false/>
	<key>playAlertSounds</key>
	<true/>
	<key>playEffectSounds</key>
	<true/>
	<key>previewImageWidth</key>
	<integer>240</integer>
	<key>maxAttachmentUploadRetries</key>
	<integer>16</integer>
	<key>maxAttachmentDownloadRetries</key>
	<integer>16</integer>
	<key>saveDatabasePolicy</key>
	<string>delayed</string>
	<key>autoUploadLimitCellular</key>
	<integer>0</integer>
	<key>autoDownloadLimitCellular</key>
	<integer>0</integer>
	<key>messageFontSize</key>
	<integer>13</integer>
	<key>autoUploadLimitWLAN</key>
	<integer>0</integer>
	<key>autoDownloadLimitWLAN</key>
	<integer>0</integer>
	<key>videoQuality</key>
	<integer>2</integer>
	<key>photoSize</key>
	<integer>250</integer>
	<key>photoCompressionQuality</key>
	<integer>0</integer>
	<key>supportTag</key>
	<string></string>
	<key>reportCrashes</key>
	<false/>
	<key>fullSync</key>
	<false/>
	<key>quickStart</key>
	<true/>
	<key>mpMediaAccess</key>
	<false/>
	<key>AccessControlPasscode</key>
	<string></string>
	<key>AccessControlTimeout</key>
	<string></string>
</dict>
</plist>
