<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Update Locations</string>
			<key>Key</key>
			<string>updateLocations</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sign Messages</string>
			<key>Key</key>
			<string>signMessages</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>server_changed_instructions</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>allow_untrusted_certificates</string>
			<key>Key</key>
			<string>debugAllowUntrustedCertificates</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>debugServerURL</string>
			<key>DefaultValue</key>
			<string>wss://server.talk.hoccer.de</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Force Filecache</string>
			<key>Key</key>
			<string>forceFilecacheURL</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Web Server</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Key</key>
			<string>showWebServer</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Settings</string>
</dict>
</plist>
