<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Photo Size</string>
			<key>Key</key>
			<string>photoSize</string>
			<key>DefaultValue</key>
			<integer>250</integer>
			<key>Titles</key>
			<array>
				<string>p_thumb</string>
				<string>p_low</string>
				<string>p_medium</string>
				<string>p_high</string>
				<string>p_veryhigh</string>
				<string>p_full</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>64</integer>
				<integer>250</integer>
				<integer>1000</integer>
				<integer>4000</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Photo Compression Quality</string>
			<key>Key</key>
			<string>photoCompressionQuality</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>p_comp_0</string>
				<string>p_comp_1</string>
				<string>p_comp_2</string>
				<string>p_comp_3</string>
				<string>p_comp_4</string>
				<string>p_comp_5</string>
				<string>p_comp_6</string>
				<string>p_comp_7</string>
				<string>p_comp_8</string>
				<string>p_comp_9</string>
				<string>p_comp_10</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Video Quality</string>
			<key>Key</key>
			<string>videoQuality</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>v_low</string>
				<string>v_medium</string>
				<string>v_high</string>
				<string>640 x 480</string>
				<string>960 x 540</string>
				<string>1280 x 720</string>
			</array>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>1</integer>
				<integer>0</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Autosave Media</string>
			<key>Key</key>
			<string>autoSaveMedia</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
            <key>Title</key>
            <string>Notifications</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <false/>
            <key>Key</key>
            <string>anonymousNotifications</string>
            <key>Title</key>
            <string>Anonymous</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <false/>
            <key>Key</key>
            <string>WorldwideNotifications</string>
            <key>Title</key>
            <string>WorldwideNotifications</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>WorldwideTitle</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>WorldwideTimeToLive</string>
            <key>Key</key>
            <string>WorldwideTimeToLive</string>
            <key>DefaultValue</key>
            <integer>0</integer>
            <key>Titles</key>
            <array>
                <string>ww_0</string>
                <string>ww_1</string>
                <string>ww_5</string>
                <string>ww_10</string>
                <string>ww_30</string>
                <string>ww_1h</string>
                <string>ww_6h</string>
                <string>ww_12h</string>
                <string>ww_24h</string>
            </array>
            <key>Values</key>
            <array>
                <integer>0</integer>
                <integer>60</integer>
                <integer>300</integer>
                <integer>600</integer>
                <integer>1800</integer>
                <integer>3600</integer>
                <integer>21600</integer>
                <integer>43200</integer>
                <integer>86400</integer>
            </array>
        </dict>
		<dict>
			<key>Title</key>
			<string>Sound</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>playAlertSounds</string>
			<key>Title</key>
			<string>Message Sound</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Effect Sounds</string>
			<key>Key</key>
			<string>playEffectSounds</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Cellular Attachment Transfer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Upload Limit</string>
			<key>Key</key>
			<string>autoUploadLimitCellular</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>No Limit</string>
				<string>100 MB</string>
				<string>50 MB</string>
				<string>10 MB</string>
				<string>5 MB</string>
				<string>1 MB</string>
				<string>500 kb</string>
				<string>Always ask</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>104857600</integer>
				<integer>52428800</integer>
				<integer>10485760</integer>
				<integer>5242880</integer>
				<integer>1048576</integer>
				<integer>512000</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Download Limit</string>
			<key>Key</key>
			<string>autoDownloadLimitCellular</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>No Limit</string>
				<string>100 MB</string>
				<string>50 MB</string>
				<string>10 MB</string>
				<string>5 MB</string>
				<string>1 MB</string>
				<string>500 kb</string>
				<string>Always ask</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>104857600</integer>
				<integer>52428800</integer>
				<integer>10485760</integer>
				<integer>5242880</integer>
				<integer>1048576</integer>
				<integer>512000</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>WLAN Attachment Transfer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Upload Limit</string>
			<key>Key</key>
			<string>autoUploadLimitWLAN</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>No Limit</string>
				<string>100 MB</string>
				<string>50 MB</string>
				<string>10 MB</string>
				<string>5 MB</string>
				<string>1 MB</string>
				<string>500 kb</string>
				<string>Always ask</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>104857600</integer>
				<integer>52428800</integer>
				<integer>10485760</integer>
				<integer>5242880</integer>
				<integer>1048576</integer>
				<integer>512000</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Download Limit</string>
			<key>Key</key>
			<string>autoDownloadLimitWLAN</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>No Limit</string>
				<string>100 MB</string>
				<string>50 MB</string>
				<string>10 MB</string>
				<string>5 MB</string>
				<string>1 MB</string>
				<string>500 kb</string>
				<string>Always ask</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>104857600</integer>
				<integer>52428800</integer>
				<integer>10485760</integer>
				<integer>5242880</integer>
				<integer>1048576</integer>
				<integer>512000</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>confirm_seen_messages</string>
			<key>Key</key>
			<string>confirmSeenMessages</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>support_tag_explanation</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>report_crashes</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>reportCrashes</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>full_sync_title</string>
			<key>Key</key>
			<string>fullSync</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Quickstart</string>
			<key>Key</key>
			<string>quickStart</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>support_tag</string>
			<key>Key</key>
			<string>supportTag</string>
			<key>AutocorrectionType</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>tutorial_button_title</string>
			<key>Key</key>
			<string>showTutorial</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>faq_button_title</string>
			<key>Key</key>
			<string>showFaq</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>about_button_title</string>
			<key>Key</key>
			<string>showAbout</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Settings</string>
</dict>
</plist>
